.earning-card{
    width: 100%;
    height:110px;
    background-color: #333533;
    border-radius: 6px;
}
.product-card{
    width: 100%;
    height:110px;
    background-color: #333533;
    border-radius: 6px;
}
.services-card{
    width: 100%;
    height:110px;
    background-color: #333533;
    border-radius: 6px;
}
.image-circle{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    margin-left: 10px;
    margin-top:8px;
    text-align: center;
    padding-top: 3px;
}
.card-txt{
    font-size:16px;
    color: white;
    padding-top: 9px;
}
.card-sub-txt{
    font-size: 20px;
    color: white;
    padding-top: 12px;
}
.history-card{
    width: 100%;
    height: 372px;
    background-color: white;
    border-radius: 6px;
}
.selling-txt{
    font-size: 16px;
    color: #333533;
    padding-left:20px;
    padding-top: 15px;
    
}
.category-txt{
    font-size: 16px;
    color: #333533;
    padding-left:20px;
    padding-top: 15px;
    
}
.seeall-1-txt{
    font-size: 14px;
    color: #0D1B2A;
    padding-left: 90px;
}
.seeall-1:hover{
    color:blue;
}
.seeall-2-txt{
    font-size: 14px;
    color: #0D1B2A;
    padding-left: 210px;
}
.seeall-2:hover{
    color:blue;
}
.view-btn{
    background-color: #333533;
    width: 70%;
    height: 40px;
    color: white;
    border-radius: 6px;
    // margin-top: 73%;
    margin-left: 35px;
}
.category-card{
    width: 100%;
    height: 372px;
    background-color: white;
    border-radius: 6px;
}
.circle-chart{
    margin-left: 110px;
    margin-top: 10px;
}
.category-sec{
    margin-left: 13px;
}
.add-new-card{
    width: 100%;
    height: 200px;
    background-color: white;
    border-radius: 6px;
}
.add-butn{
    width: 50px;
    height: 50px;
    background-color: #333533;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: 115px;
    color: white;
    font-size: 30px; 
}
.plus-text{
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
}
.voucher-card{
    width: 100%;
    height:200px;
    border-radius: 6px;
    // background-color: yellow;
}
.voucher-code-txt{
    font-size: 14px;
    color: #5B5D5B;
    margin-left: 4px;
    padding-top:6px ;
}
.voucher-bar1{
    width: 100%;
    height: 60px;
    border-radius: 6px;
    background-color: white;
    
}
.voucher-text{
    padding-left:10px;
    padding-top: 20px;
}
.check-btn{
    width: 90%;
    height: 30px;
    font-size: 16px;
    background-color: #333533;
    color: white;
    border-radius: 6px;
    margin-top: 15px;
}
.customer-img-sec{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: blue;
    margin-top: 20px;
    margin-left: 30px;
}
.customer-card{
    width: 100%;
    height:92px;
    background-color: white;
    border-radius: 6px;
}
.customer-name{
    font-size: 14px;
    color: black;
    padding-top: 15px;
    padding-left: 10px;
}
.name-sub-txt{
    font-size: 12px;
}
.eye-image{
    margin-top: 40px;
}

.selling-card{
    width: 100%;
    height: 350px;
    background-color: white;
    border-radius: 6px;
}
.selling-card1{
    width: 100%;
    height: 350px;
    // background-color: white;
    border-radius: 6px;
}
.selling-txt{
    font-size: 18px;
}
.see-all{
    font-size: 14px;
    padding-top: 20px;
    padding-left: 30px;
}
.selling-sec2{
    width: 100%;
    height: 100px;
    // background-color: yellow;
}
.nail-txt{
    font-size: 15px;
    padding-top: 50px;
    padding-left:5px;
}
.nail-price{
    font-size: 11px;
    color: #398E3F;
}
.view{
    font-size: 12px;
    padding-top: 50px;
    
}
.selling-bottom{
    width: 100%;
    height: 300px;
    // background-color: yellow;
    border-radius: 6px;
}
.appointment-txt{
    font-size: 18px;
    padding-left: 10px;
    padding-top: 10px;
}
.see-all2{
    font-size: 14px;
    padding-top: 12px;
    padding-left: 30px;
}
.appointment-card1{
    width: 100%;
    height: 150px;
    background-color: white;
    border-radius: 6px;
}
.customer2-sec{
    margin-left: 210px;
}
.reply-sec{
    font-size: 12px;
}
.reply-btn{
    width: 20%;
    height: 30px;
    background-color: #333533;
    border-radius: 6px;
    color: white;
    
}